[
	{ title:"    Time",   format:"%8.2f",    source:"time",   channel:"elapsed" },
	{ title:"Channel 0",  format:"%7.4f V",  source:"ad7608", channel:"0" },
	{ title:"Channel 1",  format:"%7.4f V",  source:"ad7608", channel:"1" },
	{ title:"Channel 2",  format:"%7.4f V",  source:"ad7608", channel:"2" },
	{ title:"Channel 3",  format:"%7.4f V",  source:"ad7608", channel:"3" },
	{ title:"   Channel 4",  format:"   %7.4f V",  source:"ad7608", channel:"4" },
	{ title:"Channel 5",  format:"%7.4f V",  source:"ad7608", channel:"5" },
	{ title:"Channel 6",  format:"%7.4f V",  source:"ad7608", channel:"6" },
	{ title:"Channel 7",  format:"%7.4f V",  source:"ad7608", channel:"7" },
]

