[
	{ title:"    Time",   format:"%8.2f",    source:"time",   channel:"elapsed" },
	{ title:"",  format:"%7.0f",  source:"ltc2991", channel:"voltage0" },
	{ title:"12V ATX",  format:"%7.4f",  source:"ltc2991", channel:"voltage1" },
	{ title:"3.3V SATA",  format:"%7.4f",  source:"ltc2991", channel:"voltage2" },
	{ title:"3.3V ATX",  format:"%7.4f",  source:"ltc2991", channel:"voltage3" },
	{ title:"5V SATA",  format:"%7.4f",  source:"ltc2991", channel:"voltage4" },
	{ title:"12V SATA",  format:"%7.4f",  source:"ltc2991", channel:"voltage5" },
	{ title:"",  format:"%7.4f",  source:"ltc2991", channel:"voltage6" },
	{ title:"",  format:"%7.4f",  source:"ltc2991", channel:"voltage7" },
	{ title:"",  format:"   %7.0f",  source:"ltc2991", channel:"current0" },
	{ title:"12V ATX",  format:"%7.4f",  source:"ltc2991", channel:"current1" },
	{ title:"3.3V SATA",  format:"%7.4f",  source:"ltc2991", channel:"current2" },
	{ title:"3.3V ATX",  format:"%7.4f",  source:"ltc2991", channel:"current3" },
	{ title:"5V SATA",  format:"%7.4f",  source:"ltc2991", channel:"current4" },
	{ title:"12V SATA",  format:"%7.4f",  source:"ltc2991", channel:"current5" },
	{ title:"12V PCI-E",  format:"%7.4f",  source:"ltc2991", channel:"current6" },
	{ title:"",  format:"%7.4f",  source:"ltc2991", channel:"current7" },
]

