[
	{ title:"  Time",     format:"%6.1f", source:"time",        channel:"elapsed" },
	{ title:"12V PCI-E",  format:"%9.3f", source:"ina226:0x40", channel:"voltage" },
	{ title:"  12V CPU",  format:"%9.3f", source:"ina226:0x41", channel:"voltage" },
	{ title:"  5V SATA",  format:"%9.3f", source:"ina226:0x42", channel:"voltage" },
	{ title:" 12V SATA",  format:"%9.3f", source:"ina226:0x43", channel:"voltage" },
	{ title:" 3.3V ATX",  format:"%9.3f", source:"ina226:0x44", channel:"voltage" },
	{ title:"  12V ATX",  format:"%9.3f", source:"ina226:0x45", channel:"voltage" },
	{ title:"   5V ATX",  format:"%9.3f", source:"ina226:0x46", channel:"voltage" },
	{ title:"3.3V SATA",  format:"%9.3f", source:"ina226:0x47", channel:"voltage" },
	{ title:"12V PCI-E",  format:"%9.3f", source:"ina226:0x40", channel:"current", calibration: 4.593/7578, raw: true },
	{ title:"  12V CPU",  format:"%9.3f", source:"ina226:0x41", channel:"current", calibration: 4.625/7600, raw: true },
	{ title:"  5V SATA",  format:"%9.3f", source:"ina226:0x42", channel:"current", calibration: 4.555/7504, raw: true },
	{ title:" 12V SATA",  format:"%9.3f", source:"ina226:0x43", channel:"current", calibration: 4.599/7562, raw: true },
	{ title:" 3.3V ATX",  format:"%9.3f", source:"ina226:0x44", channel:"current", calibration: 4.547/7430, raw: true },
	{ title:"  12V ATX",  format:"%9.3f", source:"ina226:0x45", channel:"current", calibration: 4.564/7508, raw: true },
	{ title:"   5V ATX",  format:"%9.3f", source:"ina226:0x46", channel:"current", calibration: 4.720/7868, raw: true },
	{ title:"3.3V SATA",  format:"%9.3f", source:"ina226:0x47", channel:"current", calibration: 4.499/7420, raw: true },
]

