[
	{ title:"  Time",     format:"%6.1f",  source:"time",        channel:"elapsed" },
	{ title:"  5V SATA",  format:"%9.3f",  source:"ina226:0x42", channel:"voltage" },
	{ title:" 12V SATA",  format:"%9.3f",  source:"ina226:0x43", channel:"voltage" },
	{ title:"3.3V SATA",  format:"%9.3f",  source:"ina226:0x47", channel:"voltage" },
	{ title:"  5V SATA",  format:"%9.3f",  source:"ina226:0x42", channel:"current", calibration: 4.555/7504, raw: true },
	{ title:" 12V SATA",  format:"%9.3f",  source:"ina226:0x43", channel:"current", calibration: 4.599/7562, raw: true },
	{ title:"3.3V SATA",  format:"%9.3f",  source:"ina226:0x47", channel:"current", calibration: 4.499/7420, raw: true },
	{ title:"  5V SATA",  format:"%9.3f",  source:"ina226:0x42", channel:"power", calibration: 4.555/7504*0.00125*20000, raw: true },
	{ title:" 12V SATA",  format:"%9.3f",  source:"ina226:0x43", channel:"power", calibration: 4.599/7562*0.00125*20000, raw: true },
	{ title:"3.3V SATA",  format:"%9.3f",  source:"ina226:0x47", channel:"power", calibration: 4.499/7420*0.00125*20000, raw: true },
]

