[
	{ title:"  Time",  format:"%6.1f", source:"time",        channel:"elapsed" },
	{ title:"Voltage", format:"%7.3f", source:"ina220:0x40", channel:"voltage" },
	{ title:"Current", format:"%7.4f", source:"ina220:0x40", channel:"current", calibration: 1.9312/1.9334 },
	{ title:"  Power", format:"%7.4f", source:"ina220:0x40", channel:"power", calibration: 1.9312/1.9334 },
]

