[
	{ title:"  Time",  format:"%6.1f", source:"time",        channel:"elapsed" },
	{ title:"Voltage", format:"%7.3f", source:"ina220:0x4d", channel:"voltage" },
	{ title:"Current", format:"%7.4f", source:"ina220:0x4d", channel:"current" },
	{ title:"  Power", format:"%7.4f", source:"ina220:0x4d", channel:"power" },
	{ title:"Voltage", format:"%7.3f", source:"ina226:0x4e", channel:"voltage" },
	{ title:"Current", format:"%7.4f", source:"ina226:0x4e", channel:"current" },
	{ title:"  Power", format:"%7.4f", source:"ina226:0x4e", channel:"power" },
	{ title:"Voltage", format:"%7.3f", source:"ina226:0x4f", channel:"voltage" },
	{ title:"Current", format:"%7.4f", source:"ina226:0x4f", channel:"current", calibration: 1.9707/19.6975 },
	{ title:"  Power", format:"%7.4f", source:"ina226:0x4f", channel:"power", calibration: 1.9707/19.6975 },
]

