[
	{ title:"    Time",   format:"%8.2f",    source:"time",   channel:"elapsed" },
	{ title:"    Supply",  format:"%8.4f V",  source:"ad7608", channel:"0",   calibration: 2.01886 },
	{ title:"    Supply",  format:"%8.4f A",  source:"ad7608", channel:"1",   calibration: 1.0136 },
	{ title:"    Supply",  format:"%8.4f W",  source:"ad7608", channel:"0*1", calibration: 2.01886*1.0136 },
	{ title:"Regulator1",  format:"%8.4f V",  source:"ad7608", channel:"2",   calibration: 1.0068 },
	{ title:"Regulator1",  format:"%8.4f A",  source:"ad7608", channel:"3",   calibration: 5.034 },
	{ title:"Regulator1",  format:"%8.4f W",  source:"ad7608", channel:"2*3", calibration: 1.0068*5.034 },
	{ title:"Regulator2",  format:"%8.4f V",  source:"ad7608", channel:"5",   calibration: 1.0068 },
	{ title:"Regulator2",  format:"%8.4f A",  source:"ad7608", channel:"6",   calibration: 5.034 },
	{ title:"Regulator2",  format:"%8.4f W",  source:"ad7608", channel:"5*6", calibration: 1.0068*5.034 },
	{ title:" PSU Power",  format:"%8.4f W",  source:"cs5467", channel:"apparent power" },
	{ title:"PSU Energy",  format:"%7.2f Wh",  source:"cs5467", channel:"apparent energy pulse", calibration: 1/3600, accumulates: true },
]

