[
	{ title:"    Time",   format:"%8.2f",    source:"time",   channel: "elapsed" },
	{ title:"  Voltage",  format:"%7.3f V",  source:"cs5467", channel: "rms voltage" },
	{ title:" Current",   format:"%6.3f A",  source:"cs5467", channel: "rms current" },
	{ title:"    Active", format:"%8.3f W",  source:"cs5467", channel: "active power" },
	{ title:"  Reactive", format:"%8.3f W",  source:"cs5467", channel: "reactive power" },
	{ title:"  Apparent", format:"%8.3f W",  source:"cs5467", channel: "apparent power" },
	{ title:"  Factor",   format:"%7.3f%%",  source:"cs5467", channel: "power factor", scalefactor: 100 },
	{ title:"    Active", format:"%7.1f Wh", source:"cs5467", channel: "active energy pulse", scalefactor: 0.00027777777, accumulates:true },
	{ title:"  Reactive", format:"%7.1f Wh", source:"cs5467", channel: "reactive energy pulse", scalefactor: 0.00027777777, accumulates:true },
	{ title:"  Apparent", format:"%7.1f Wh", source:"cs5467", channel: "apparent energy pulse", scalefactor: 0.00027777777, accumulates:true },
]

